# Unity
[Ll]ibrary/
[Ll]ogs/
[Tt]emp/
[Oo]bj/
[Pp]rojectSettings/EditorBuildSettings.asset
[Pp]rojectSettings/EditorSettings.asset
[Pp]rojectSettings/GraphicsSettings.asset
[Pp]rojectSettings/QualitySettings.asset
[Pp]rojectSettings/TagManager.asset
[Pp]rojectSettings/ProjectSettings.asset
[Uu]serSettings/
[Rr]enderPipelineSettings.asset
[Tt]emp/
*.swp
*.swo
*.tmp
*.bak
*.sublime-workspace
*.sublime-project
*.pidb
*.suo
*.user
*.userprefs
*.csproj
*.pidb.meta
*.suo.meta
*.user.meta
*.userprefs.meta